.containerDiv {
  --times-width: 120px;
  --grid-width: 1000px;
  --grid-height: 800px;
  --header-height: 1.3rem;
  width: 70%;
  height: 500px;
  overflow: auto;
  resize: both;
  outline: 1px solid purple;
  display: flex;
  --general-background-color: #fff;
}

.gridTimes {
  background-color: var(--general-background-color);
  width: var(--times-width);
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  height: calc(var(--grid-height) + 21.5px);
  padding-top: var(--header-height);
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* row-gap: 1px; */
  border-right: 1px solid black;
}
.gridTime:nth-child(odd) {
  background: #eee;
}
.gridTime {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridTime::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  height: 1px;
  width: var(--times-width);
  background: black;
}

.gridHeader {
  background-color: var(--general-background-color);
  position: sticky;
  height: var(--header-height);
  width: var(--grid-width);
  top: 0;
  display: flex;
}
.gridHeader::after,
.gridHeaderElement:not(:last-of-type)::after {
  content: '';
  position: absolute;
  right: -1px;
  height: var(--header-height);
  width: 1px;
  background: black;
}
.gridHeaderElement {
  height: var(--header-height);
  flex-basis: calc(100% / 7);
  text-align: center;
  line-height: var(--header-height);
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.gridHeaderElement:not(:last-of-type) {
  margin-right: 1px;
}

.gridDiv {
  width: var(--grid-width);
  height: var(--grid-height);
  --cell-height: calc((var(--grid-height) - 47px) / 48);
  --cell-width: calc((var(--grid-width) - 6px) / 7);
  --grid-inline-light-line-color: #eee;
  --grid-inline-dark-line-color: #777;
  background: repeating-linear-gradient(
      90deg,
      transparent 0 var(--cell-width),
      var(--grid-inline-dark-line-color) var(--cell-width) calc(var(--cell-width) + 1px)
    ),
    repeating-linear-gradient(
      transparent 0 var(--cell-height),
      var(--grid-inline-light-line-color) var(--cell-height) calc(var(--cell-height) + 1px),
      transparent calc(var(--cell-height) + 1px) calc(var(--cell-height) + 1px + var(--cell-height)),
      var(--grid-inline-dark-line-color) calc(var(--cell-height) + 1px + var(--cell-height))
        calc(var(--cell-height) + 1px + var(--cell-height) + 1px)
    );

  outline: 1px solid black;
}
